<template name="get_started">
<div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Get Started!
                    <small>(...Quickly!)</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="get_started_1.jpg" alt="">
                </a>
                <h3>
                    Click Sign In
                </h3>
                <p>Select the blue Sign In button to open the login dropdown box.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="get_started_2.jpg" alt="">
                </a>
                <h3>
                    Create Account
                </h3>
                <p>Select "Create Account" and enter your login credentials you wish to use.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="get_started_3.jpg" alt="">
                </a>
                <h3>
                    Login
                </h3>
                <p>Now, enter your login credentials to access your user profile on the homepage.</p>
            </div>
        </div>

</div>


</template>
