<template name="tutorials">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>3 Col Portfolio - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/3-col-portfolio.css" rel="stylesheet">


</head>

<body>


        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Tutorials
                    <small>Get started learning about interactive fiction!</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="http://ifwiki.org/index.php/Main_Page">
                    <img class="img-responsive" src="tutorial1.jpg" alt="">
                </a>
                <h3>
                    <a href="http://ifwiki.org/index.php/Main_Page">Interactive Fiction Wiki</a>
                </h3>
                <p>IFWiki is a taxonomy of the Interactive Fiction world including detailed reports on theory, technical how-to's, and more...</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="http://ifdb.tads.org/">
                    <img class="img-responsive" src="tutorial2.jpg" alt="">
                </a>
                <h3>
                    <a href="http://ifdb.tads.org/">Interactive Fiction Database</a>
                </h3>
                <p>The Interactive Fiction Database is an IF game catalog and recommendation engine. IFDB is a Wiki-style community project: members can add new game listings, write reviews, exchange game recommendations, and more...</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="http://en.wikibooks.org/wiki/Beginner%27s_Guide_to_Interactive_Fiction_with_Inform_7/Getting_Started_with_Inform_7">
                    <img class="img-responsive" src="tutorial3.jpg" alt="">
                </a>
                <h3>
                    <a href="http://en.wikibooks.org/wiki/Beginner%27s_Guide_to_Interactive_Fiction_with_Inform_7/Getting_Started_with_Inform_7">Syntax Tutorial</a>
                </h3>
                <p>Get started with the syntax of Inform7 by checking out this step-by-step tutorial on Wikibooks...</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row 
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>




    <script src="js/jquery.js"></script>

    Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</template>