<template name="userprofile">

<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<div class="profile-userpic">
					<img src="user_icon_blank.jpg" class="img-responsive" alt="">
				</div>
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						Username here
					</div>
					<div class="profile-usertitle-job">
						* PLACEHOLDER TAGLINE *
					</div>
				</div>
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-primary btn-sm">Follow</button>
					<button type="button" class="btn btn-info btn-sm">Message</button>
				</div>
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Project Overview </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-user"></i>
							Group Projects </a>
						</li>
						<li>
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-ok"></i>
							Account Settings </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-flag"></i>
							Help </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-6">
            <div class="profile-content">

<a href="doc" class="btn btn-block btn-lg btn-danger"><span class="glyphicon glyphicon-list-alt"></span> File Editor</a>
<center> Create, share and edit source files for your Thinker project. </center>
<br><br>

<a href="#" class="btn btn-block btn-lg btn-warning"><span class="glyphicon glyphicon-glass"></span> File Compiler</a>
<center> Compile your source files into executable story files. </center>
<br><br>

<a href="#" class="btn btn-block btn-lg btn-success"><span class="glyphicon glyphicon-play"></span> Parchment</a>
<center> Run your compiled story files. </center>

<br><br><br><br><br>
<a href="#" class="btn btn-block btn-lg btn-default"><span class="glyphicon glyphicon-question-sign"></span> Tutorial</a>
<center> Learn the syntax and design of story files. </center>

            </div>
		</div>
	</div>
</div>
<center>
<strong>Placeholder link to something: <a href="http://www.google.com" target="_blank">LINK HERE</a></strong>
</center>
<br>
<br>
</template>
